<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>testing</title>
  <link rel="stylesheet" type="text/css" href="./index.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/konvajs/konva/2.0.2/konva.min.js"></script>
  <script type="text/javascript" src="./lib/farbtastic/farbtastic.js"></script>
  <link rel="stylesheet" href="./lib/farbtastic/farbtastic.css" type="text/css" />
</head>
<body>


<!-- <input type="file" id="take-pic" accept="image/*;capture=camera" > -->

<div id="box">
  <div id="container">
  </div>
</div>

<!-- <br>
<button id="camera">camera</button>
<video src=""></video> -->

<div id="control-btn">
  <button id="crop">crop</button>
  <button id="save">save crop</button>
  <button id="resize">resize</button>
  <button id="stop">stop resize</button>
  <br>
  <button id="grey">grey</button>
  <button id="color">color</button>
  <button id="invert">invert</button>
  <button id="mask">mask</button>
  <button id="sepia">sepia</button>
  <button id="solarize">solarize</button>
  <br /><br />
  <button id="export">Export</button>
  <div class="upload-btn-wrapper">
    <button class="btn" id="add_pic">Add picture</button>
    <input type="file" name="myfile" accept="image/*;capture=camera" multiple onchange="handleFiles(this.files)" />
  </div>
  <br />
  <button id="input_text">Text</button>

  <br />
  <select id="paint-tool">
    <option value="brush">Brush</option>
    <option value="pen">Pen</option>
    <option value="pencil">Pencil</option>
    <option value="eraser">Eraser</option>
  </select>


  <label for="pen_width">Pen Width</label>
  <input name="pen_width" type="range" min=0.5 max=30 step=0.5 value=0.5>

  <button id="init-paint">Paint</button>
  <button id="clear-paint">Clear paint</button>
  <button id="stop-paint">Save paint</button>
  <form style="display:none;">
    <input type="text" id="show-color" value="#123456" readonly/>
  </form>
  <div id="colorpicker"></div>
  <label for="pen-alpha">opacity</label>
  <input name="pen-alpha" type="range" min=0 max=1 step="0.01" value=1 />

  <input type="file" id="take-pic" accept="image/*;capture=camera" style="display:none;">

</div>

<div class="slidingbar">

  <p id="first-control">
    <label for="gs">Brightness</label>
    <input id="gs" name="gs" type="range" min=-1 max=1 step="0.01" value=0 oninput="changeBrightness(this.value)">
  </p>
  <p>
    <label for="ct">Contrast</label>
    <input id="ct" name="ct" type="range" min=-100 max=100 value=0 oninput="changeContrast(this.value)">
  </p>
  <p>
    <label for="blur">Blur</label>
    <input id="blur" name="blur" type="range" min=0 max=10 value=0 oninput="changeBlur(this.value)">
  </p>
  <p>
    <label for="huer">Hue</label>
    <input id="huer" name="huer" type="range" min=0 max=360 value=0 onchange="changeHue(this.value)">
  </p>
  <p>
    <label for="saturate">Saturate</label>
    <input id="saturate" name="saturate" type="range" min=0 max=1 value=0 step="0.01" oninput="changeSaturation(this.value)">
  </p>

  <p>
    <label for="opacity">Lightness</label>
    <input id="lightness" name="opacity" type="range" min=-1 max=1 value=0 step="0.01" oninput="changeLightness(this.value)">
  </p>

  <p>
    <label for="invert">Mask</label>
    <input name="invert" type="range" min=0 max=1 step=0.01 value=0.5 oninput="changeMask(this.value)">
  </p>
  <p>
    <label for="invert">Noise</label>
    <input name="invert" type="range" min=0 max=1 step=0.01 value=0 oninput="changeNoise(this.value)">
  </p>
  <p>
    <label for="invert">Pixelate</label>
    <input name="invert" type="range" min=0.001 max=10 step=0.1 value=0 oninput="changePixelate(this.value)">
  </p>
  <p>
    <label for="invert">Posterize</label>
    <input name="invert" type="range" min=0 max=1 step=0.01 value=1 oninput="changePosterize(this.value)">
  </p>

  <p>
    <label for="br">Rotate</label>
    <input id="rot" name="br" type="range" min=0 max=359 value=0 oninput="changeRotation(this.value)">
  </p>
  <p>
    <label for="br">Alpha</label>
    <input type="range" min=0 max=1 value=1 step=0.01 oninput="changeAlpha(this.value)">
  </p>

  <textarea>sample text</textarea>

</div>

</body>
<!-- <script type="text/javascript" src="./index.js"></script> -->
<!-- <script type="module" src="./canvas.js"></script> -->

<script src="./base_shape.js"></script>
<script src="./Text.js"></script>
<script src="./canvas.js"></script>
<script src="./Paint.js"></script>
<!-- <script src="./canvas-v2.js"></script> -->

</html>