<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>testing</title>
</head>
<body>

<p>hello world</p>

<input type="file" id="take-pic" accept="image/*;capture=camera" >
<img id="show-pic" />
<!--
<br>
<button id="camera">camera</button> -->
<video src=""></video>

</body>
<script type="text/javascript" src="./index.js"></script>

</html>