<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>testing</title>
  <link rel="stylesheet" type="text/css" href="./index.css"></link>
</head>
<body>

<!-- <p>hello world</p>

<input type="file" id="take-pic" accept="image/*;capture=camera" >
<div class="container">
  <img id="show-pic"/>
</div> -->

<!-- <canvas id="canvas" width="500" height="500">Your browser does not support</canvas> -->
<div id="box">
  <div id="container">
  </div>
</div>

<!-- <br>
<button id="camera">camera</button>
<video src=""></video> -->
<button id="save">save</button>

</body>
<!-- <script type="text/javascript" src="./index.js"></script> -->
<!-- <script type="module" src="./canvas.js"></script> -->
<script src="https://cdn.rawgit.com/konvajs/konva/2.0.2/konva.min.js"></script>
<script src="./canvas.js"></script>

</html>